.userContainer {
  background-color: #29033f;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(14px + 2vmin);
  color: #e9d30d;
  padding: 5px;
}

.userImg {
  height: 7vmin;
  cursor: pointer;
}

.description {
  margin: 0;
  padding: 0 0 0 30px;
  font-family: 'tucsontwo', sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 35px;
  line-height: 58px;
  max-width: 500px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}