.header {
  background-color: #29033f;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(14px + 2vmin);
  color: #e9d30d;
  padding: 10px;
}

.logo {
  height: 20vmin;
  pointer-events: none;
}

.description {
  margin: 0;
  padding: 0 0 0 10px;
  font-family: 'tucsontwo', sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 30px;
  line-height: 38px;
  max-width: 480px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clipLoader {
  color: #e9d30d
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: left;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #61dafb;
  justify-self: left;  
}

  .link_active {
      color: #F2F2F3;
  }