.container {
  background-color: #b899ca;
  min-height: 80px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(14px + 2vmin);
  padding: 10px;
  border: 3px solid rgb(63, 22, 68);
  border-radius: 10px;
}
